
@model Welcome

<h1>Welcome to BikesNBeers</h1>


<form asp-action="Welcome">
   @* <div class="form-group">
        <label id="StartZip">Starting Zip</label>
        <input asp-for="@Model.ZipCodeStart" id="StartZip" type="text" inputmode="numeric" />
    </div>*@
    
    <div class="form-group">
        <label id="StartAddress">Starting Address</label>
        <input asp-for="@Model.AddressStart" id="StartAddress" type="text" inputmode="verbatim" />
    </div>

    <div class="form-group">
        <label id="MaxMiles">Maximum Number of Miles</label>
        <input asp-for="@Model.MaxMiles" id="MaxMiles" type="number" />
    </div>

    <div class="form-group">
        <h3>Trip Selector</h3>
        <h5>Enter your desination zip code OR select 'Plan My Trip' and we will show you a list of Breweries within your max #miles and you can pick your destination!</h5>
        <br />
        <h4>Enter Destination Zip Code</h4>
        <label id="EndZip">Ending Zip Code</label>
        <input asp-for="@Model.ZipCodeEnd" id="EndZip" type="text" inputmode="numeric" />
        
        <button class="btn btn-primary" asp-controller="BrewViewTwo" asp-action="BrewDestGiven">Submit</button>
    </div>
    <div class=" form-group">
        <h4>OR</h4>
        <h4>Show me a list of Breweries please!</h4>
        <button class="btn btn-primary" asp-controller="BrewViewTwo" asp-action="Index">Plan My Trip</button>
    </div>

</form>

