@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Bikes N Beers</h1>
        <p>
            Plan your biking trip complete with local brewery and hotel choices along the way or at your destination!<br />
            You will get a trip summary and mapped route to view. <br /><br />
            Enjoy the ride and a cold local brew when you arrive!<br /><br />
        </p>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwVcebeF-lqjYhet6u9rKjdU__3M66l0Q5gw&usqp=CAU"></img>
        <br /><br />
        <p>Let's get started... please login to begin your adventure </p>
   <br />

    <div id="h3wrapper">
        <h3 id="h31">
            @Html.ActionLink(
           "Plan A Trip",
           "Index",
           "Welcome")
        </h3>

        <h3 id="h32">
            @Html.ActionLink(
           "Trip History",
           "Index",
           "UserView")
        </h3>
    </div>

</div>
