
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Trip

<h1>Map View</h1>

@{
    var startLat = Model.StartingLat;
    var startLng = Model.StartingLong;
    var endLat = Model.Stops[Model.Stops.Count - 1].lat;
    var endLng = Model.Stops[Model.Stops.Count - 1].lng;
    var key = "AIzaSyAIuye8uznaqinBLqSaFxdr6u58oHdTBsg";
    var source = $"https://www.google.com/maps/embed/v1/directions?key={key}&mode=bicycling&origin={startLat},{startLng}&destination={endLat},{endLng}";
    if (Model.Stops.Count > 1)
    {
        <h1>Head towards your first stop: @Model.Stops[0].Name</h1>
        endLat = Model.Stops[0].lat;
        endLng = Model.Stops[0].lng;
        source = $"https://www.google.com/maps/embed/v1/directions?key={key}&mode=bicycling&origin={startLat},{startLng}&destination={endLat},{endLng}";
        <iframe width="800"
                height="600"
                frameborder="1" style="border:solid"
                src=@source>
        </iframe>
        foreach (var stop in Model.Stops)
        {
            if (!(stop == Model.Stops[0]))
            {
                <h1>then procede to your stop: @stop.Name</h1>
                startLat = endLat;
                startLng = endLng;
                endLat = stop.lat;
                endLng = stop.lng;
                source = $"https://www.google.com/maps/embed/v1/directions?key={key}&mode=bicycling&origin={startLat},{startLng}&destination={endLat},{endLng}";
                <iframe width="800"
                        height="600"
                        frameborder="1" style="border:solid"
                        src=@source>
                </iframe>
            }
        }
    }
    else
    {
        <h1>Procede to your destination: @Model.Stops[0].Name</h1>
        <iframe width="800"
                height="600"
                frameborder="1" style="border:solid"
                src=@source>
        </iframe>

    }
}

