@model StopSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Search for a Stop</h1>

@*
    allow user to search for another bar or a hotel
        search by zip or addressa drop down that says bar or hotel
*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchForBarOrHotel">
            <div hidden="hidden">
                @Html.EditorFor(model => model.TripId)
            </div>
            <div class="form-group">
                
                <label id="StartAddress">Starting Address</label>
                <input asp-for="@Model.AddressStart" id="StartAddress" type="text" inputmode="verbatim" required/>
            </div>

            @*<div class="form-group">
            <label id="MaxMiles">Maximum Number of Miles</label>
            <input asp-for="@Model.MaxMiles" id="MaxMiles" type="number" />
        </div>*@
            @Html.DropDownListFor(x => x.StopType, new List<SelectListItem> {
              new SelectListItem { Text = "Brewery", Value = "Brewery"},
              new SelectListItem { Text = "Hotel", Value = "Hotel"}
         })
            <br/><br/>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

